@charset "utf-8";
@import url(reset.css);
@import url(normalize.css);
@import url(font.css);


/* 임시 */
.temp-area {width: 100%; height: 200px; line-height: 200px; background-color: #ebebeb; color: #000;  margin-top: 50px; text-align: center; font-size:30px}

body {font-family: 'WantedSans', sans-serif;}
