@charset "utf-8";
@import url(reset.css);
@import url(normalize.css);
@import url(font.css);



:root{
  --font-size: 16px;
  --black: #222;
  --white: #fff;
  --border: #525252;
  --aco-txt: #666;
  --placeholder: #999;
  --bg-light-gray: #f8f8f8;
  --bg-dark-gray: #ccc;
  --maincolor: #122223;
  --subcolor01: #F1E3C4;
  --subcolor02: #D4B297;
  --error-color: #e9473f;
  --sucess-color: ##7ec04d;
  --line-height: 27px;
}
/* 임시 */
.temp-area {width: 100%; height: 200px; line-height: 200px; background-color: #ebebeb; color: #000;  margin-top: 50px; text-align: center; font-size:30px}

body {color: #222; font-family: 'Wanted Sans', sans-serif; font-weight: 400;}

/* 블라인드 */
.blind {display: inline-block; position: absolute !important; width: 1px; height: 1px; margin: -1px; border: 0; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}

/* 100% */
.full {width: 100%;}

/* title  */
.tit-h2 {font-size:calc(var(--font-size) * 3); font-weight: 700;}
.tit-h3 {font-size:calc(var(--font-size) * 2); font-weight: 700;}
.tit-h4 {font-size:calc(var(--font-size) * 1.5); font-weight: 700;}
.tit-h5 {font-size:calc(var(--font-size) * 1.125); font-weight: 700;}
.tit-h6 {font-size:calc(var(--font-size) * 1); font-weight: 400;}

/* text */
/* 필수 텍스트 */
.txt-star {font-size: 14px;}
.txt-star::before {content:'*'; color: #ED3A3F; font-size: 14px;}

/* button */
[class^=btn-] {display: inline-flex; justify-content: center; align-items:center; text-align: center;}
[class^=btn-].icon {gap: 16px;}
[class^=btn-].l {min-width: 200px; min-height: 250px; font-size: 24px;} 
[class^=btn-].m {min-width: 212px; min-height: 54px; padding: 18px 0; font-size: 16px;} 
[class^=btn-].s {min-width: 94px; min-height: 27px; padding: 5px 20px; font-size: 14px;}
.btn-p {background-color: var(--maincolor, #222); color: var(--white, #fff);}
.btn-s {background-color:var(--white, #fff); color: var(--black, #222); border: 1px solid var(--bg-dark-gray, #ccc);}
.btn-area {display: flex;}
.btn-area.bottom {margin-top: 80px;}

/* links */
.links {border-bottom:1px solid var(--black, #222);}

/* input */
.ipt {width: 100%; height: 27px; line-height: var(--line-height); padding: 0 16px; border: 1px solid #ccc;}
textarea.ipt {min-height: 136px;}
/* checkbox / radio용 blind */
/* .ipt[type=checkbox], 
.ipt[type=radio] {position: absolute; top: auto; width: 24px; min-width: auto; height: 24px; margin: 0; padding: 0; opacity: 0; z-index: -1;} */
.ipt[type=checkbox] + label,
.ipt[type=radio] + label {display: inline-block; position: relative; padding-left: 32px; color: #222; font-size: 16px; line-height: 27px; vertical-align: middle; cursor: pointer; z-index: 1;}
.ipt[type=checkbox] + label:before,
.ipt[type=radio] + label:before {content: ''; position: absolute; top: 0; left: 0; width: 24px; height: 24px; border: 2px solid #ccc; background-color: #fff; overflow:hidden; box-sizing: border-box;}
.ipt[type=radio] + label:before {border-radius: 50%;}
.ipt[type=radio]:checked + label:before {background-color: var(--black, #222); box-shadow: inset 0 0 0 4px #fff;}
.ipt[type=checkbox]:checked + label:before {content: ''; border: 2px solid transparent; background-color: var(--black, #222);}
.ipt[type=checkbox]:checked + label:after {content: ''; position: absolute; top: 3px; left: 9px; width: 7px; height: 14px; border-style: solid;  border-width: 0 2px 2px 0; border-color:#fff; overflow: hidden; box-sizing: border-box; transform: rotate(45deg);}
.ipt-wrap {width: 100%;}

/* placeholder */
input::placeholder,
textarea::placeholder {color: var(--placeholder, #999); line-height: var(--line-height);}

/* readonly / disabled */
.ipt:disabled,
.ipt:read-only {background-color: var(--bg-light-gray, #f8f8f8); outline: none;}

/* select */
.ipt-wrap.select {position: relative;}
.ipt-wrap.select:after {content: ''; position: absolute; top: 50%; transform: translateY(-50%); right: 16px; border-width: 6px 4px; border-style: solid; border-color: #222 transparent transparent transparent;}

/* form-list */
.form-list {display: flex; flex-direction: column; gap: 24px; margin-top: 10px;}
.form-list > li {display: flex; gap: 24px; justify-content: space-between;}
.form-list .item {min-width: 96px; min-width: 96px; line-height: var(--line-height); font-weight: 700;}
.form-list .item:after {content:'*'; margin-left:4px; color: #ED3A3F;}
.form-list .item.option:after {content:'(선택)'; margin-left: 4px; color: #666; font-size: 14px;}
.form-list .data {width:100%;}

/* radio-list */
.radio-list {display: flex; align-items: center; gap: 24px;}

/* ipt+btn */
.form-list .data.side-btn {display: flex; justify-content: space-between; gap: 24px;}
.form-list .data.side-btn [class^=btn-].s {min-width: 119px;}

/* 휴대폰인증 */
.ipt-wrap.ceri {position: relative;}
.ipt-wrap.ceri .count {position: absolute; top: 50%; right: 16px; transform: translateY(-50%); color: var(--black),; font-size: 12px;}

/* email */
.form-list .data.email {display: flex; justify-content: space-between; align-items: center; gap:8px;}

/* 첨부파일 */
.form-list .data.file {display: flex; gap: 24px; justify-content: space-between; align-items: center;position: relative;}
.data.file .ipt-wrap:last-child {width: 97px;}
.data.file .file-name.on {display:block; position: absolute; top: 5px; left: 16px;}

/* 약관 */
.terms-area {margin-top: 24px;}
.terms-area > .ipt-wrap {display: flex; gap: 24px; align-items: center;}

/* sub-section */
.section.full {height: 100vh;}
.section.fix {height: 600px;}

/* sub - tit-area */
.tit-area {display: flex; flex-direction: column; gap: var(--line-height); margin: calc(var(--line-height)*3) 0 calc(var(--line-height)*2)};
.tit-area .desc {font-size: 20px;}

/* sub-breadcrumbs */
.breadcrumbs > ol {display: flex; justify-content: flex-end;}
.breadcrumbs > ol > li {width: 156px;}
.breadcrumbs > ol > li a,
.breadcrumbs > ol > li button  {display: block; width: 100%; padding: 10px 0; text-align: center;}
.breadcrumbs > ol > li button span {display: block; position: relative;}
.breadcrumbs > ol > li button span:after {content: ''; position: absolute; top:50%; right: 0; margin-top:-2px; border-width: 6px 4px;  border-style: solid; border-color:#222 transparent transparent transparent;}
.breadcrumbs > ol > li.active button span:after {transform: rotate(-180deg); margin-top: -8px;}
.breadcrumbs .drop-menu {display: none; border: 1px solid #ccc;}
.breadcrumbs > ol > li.active .drop-menu {display: block;}
.breadcrumbs .drop-menu li > a {font-size:12px;}
.breadcrumbs .drop-menu li > a:hover {background-color: #ccc;}







/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */

  /* title  */
  .tit-h2{font-size:calc(var(--font-size) * 1.5);}
  .tit-h3{font-size:calc(var(--font-size) * 1.25);}
  .tit-h4{font-size:calc(var(--font-size) * 1.125);}
  .tit-h5{font-size:calc(var(--font-size) * 1);}
  .tit-h6{font-size:calc(var(--font-size) * 0.875);}
}


/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */

    /* title  */
  .tit-h2{font-size:calc(var(--font-size) * 1.25);}
  .tit-h3{font-size:calc(var(--font-size) * 1.125);}
  .tit-h4{font-size:calc(var(--font-size) * 1);}
  .tit-h5{font-size:calc(var(--font-size) * 0.875);}
  .tit-h6{font-size:calc(var(--font-size) * 0.75);}
}

  
  
