@charset "utf-8";
@import url(reset.css);
@import url(normalize.css);
@import url(font.css);


/* 임시 */
.temp-area {width: 100%; height: 200px; line-height: 200px; background-color: #ebebeb; color: #000;  margin-top: 50px; text-align: center; font-size:30px}

body {font-family: 'WantedSans', sans-serif;}

/* footer */
footer {
  background: #222;
  color:#fff;
}
footer .footer-wrap {
  padding: 72px 0;
}
footer .footer-wrap > ul {
  display: flex;
  flex-direction: column;
  gap:62px;
}
footer .footer-wrap > ul li {
  display: flex;
  width: 100%;
  gap: 70px;
}
footer .footer-wrap .footer-shilla ul {
  display: flex;
}
footer .footer-wrap .footer-shilla ul > li + li,
.footer_stay {
  padding-left:260px;
}
footer .footer-wrap ul a img {
  margin-bottom: 32px;
}
.footer-monostay {
  display: flex;
}
.footer-mono, .footer-stay {
  display: flex;
  flex-direction: column;
}

.footer-wrap ul h2 {
  color: #A1A1A1;
  font-family: "Wanted Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  text-transform: uppercase;
}

.footer-info-list {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid #525252;
  border-top: 1px solid #525252;
}
.footer-info-list h2 {
  background: url('../images/svg_footer_logo.svg') no-repeat;
  width: 304px;
  height: 35px;
}
.footer-info-list ul {
  display: flex;
}

.footer-family-list {
  display: flex;
  justify-content: space-between;
}
.footer-family-list > ul {
  display: flex;
  gap: 166px;
}

/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}