@charset "utf-8";

/* 이벤트 프로모션 리스트 */
.event-list {display: flex; justify-content: space-between; flex-wrap: wrap;}
.event-list li {width: calc((100% / 2) - 12px);}
.event-list li:nth-child(n+3) {margin-top: 54px;}
.event-list .block {position: relative; display: flex; flex-direction: column; gap: 20px;}
.event-list .img-wrap {width: 100%; height: 352px;}
.event-list .info {display: flex; flex-direction: column; gap: 10px;}
.event-list .desc {font-size: 20px;}
.event-list .date {font-size: 20px; color: #666;}

/* FAQ - Tab */
.tab-wrap {}
.tab-list.faq {display: flex; justify-content: space-between; align-items: center;}
.tab-list.faq > li {position:relative; width:20%; border:1px solid var(--bg-dark-gray, #ccc); padding: 14px 0; text-align: center;}
.tab-list.faq > li.on {border-bottom: 0;}
.tab-list.faq > li.on:before {content:''; position: absolute; top: -1px; left: 0; width:100%; height:7px; background-color: var(--black, #222);}
.tab-list.faq > li + li {border-left: 0;}
.tab-list.faq > li a {display: block;}
.tab-list.faq > li.on a {font-weight: 700;}
.tab-list.faq + .tab-content .tab-pannel {display: none;}
.tab-list.faq + .tab-content .tab-pannel.on {display: block;}

/* FAQ - 아코디언 */
.faq-list {margin-top: 30px; border-top: 1px solid var(--black, #222);}
.faq-list li {border-bottom: 1px solid var(--bg-dark-gray, #ccc);}
.acco-item .acco-head {display: flex; justify-content: space-between; position: relative; width: 100%;}
.acco-item .acco-head:after {content: ''; position: absolute; top: 50%; transform: translateY(-50%); right: 24px; border-width: 6px 4px; border-style: solid; border-color: #222 transparent transparent transparent;}
.acco-item.on .acco-head:after {transform: rotate(180deg); top: calc(50% - 10px);}
.acco-item .acco-btn {display:block; width: 100%; padding: 14px 24px; font-size: 18px;}
.acco-item .category {display:inline-block; min-width: 102px;}
.acco-item .acco-body {display:none; padding: 24px; background-color: var(--bg-light-gray, #f8f8f8); color: var(--acco-txt, #666);}

/* FAQ - 페이지네이션 */
.paging {display: flex; gap: 8px; justify-content: center;}
.paging .btn-start,
.paging .btn-prev,
.paging .btn-next,
.paging .btn-last {position: relative;}
.paging .btn-prev:before, 
.paging .btn-next:before {content: ''; position: absolute; left: 10px; top: 50%; width: 10px; height: 10px; border: 1px solid var(--black, #222); border-width: 0 0 2px 2px; background-color: transparent; box-sizing: border-box; transform: translateY(-50%) rotate(45deg);}
.paging .btn-next:before {left: auto; right: 10px; transform: translateY(-50%) rotate(-135deg);}

.paging .btn-start:before, 
.paging .btn-last:before {content: ''; position: absolute; left: 7px; top: 50%; width: 10px; height: 10px; border: 1px solid var(--black, #222); border-width: 0 0 2px 2px; background-color: transparent; box-sizing: border-box; transform: translateY(-50%) rotate(45deg);}
.paging .btn-last:before {left: auto; right: 6px; transform: translateY(-50%) rotate(-135deg);}
.paging .btn-start:after, 
.paging .btn-last:after {content: ''; position: absolute; left: 14px; top: 50%; width: 10px; height: 10px; border: 1px solid #444; border-width: 0 0 2px 2px; background-color: transparent; box-sizing: border-box; transform: translateY(-50%) rotate(45deg);}
.paging .btn-last:after {left: auto; right: 13px; transform: translateY(-50%) rotate(-135deg);}

.paging > ul {display: flex; gap: 8px;}
.paging > ul > li > a,
.paging > button {display: block; width: 27px; height: 27px; line-height: 27px; text-align: center; border: 1px solid var(--bg-dark-gray, #ccc);}

/* 서브페이지 객실 스탠다드 이그제큐티브 스위트 */

.delux .container .deluxes .stardardtitle h3 {
  text-align: center;
  margin-bottom: 81px;
}
.delux .container .deluxes .deluxe-box {
  display: flex;
  justify-content: space-between;
}
.delux .container .deluxes .deluxe-box .deluxe1 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}
.delux .container .deluxes .deluxe-box .deluxe1 p {
  margin-top: 27px;
  font-size: 20px;
}
.delux .container .deluxes .deluxe-box .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.delux .container .deluxes .deluxe-box .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.delux .container .deluxes .deluxe-box .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.business-deluxes {
  display: flex;
  align-items: center;
  height: 100vh;
}
.business-deluxes .container .business-deluxe .business-deluxetitle h3 {
  text-align: center;
  margin-bottom: 81px;
}
.business-deluxes .container .business-deluxe .business-deluxebox {
  display: flex;
  justify-content: space-between;
}
.business-deluxes .container .business-deluxe .business-deluxebox .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.business-deluxes .container .business-deluxe .business-deluxebox .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.business-deluxes .container .business-deluxe .business-deluxebox .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.business-deluxes .container .business-deluxe .business-deluxebox .business-deluxe2 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.business-deluxes .container .business-deluxe .business-deluxebox .business-deluxe2 .business-deluxet p {
  font-size: 20px;
  margin-top: 27px;
}
.barrier-free .container .barrier-frees .barrier-freetitle h3 {
  text-align: center;
  margin-bottom: 81px;
}
.barrier-free .container .barrier-frees .barrier-free-box {
  display: flex;
  justify-content: space-between;
}
.barrier-free .container .barrier-frees .barrier-free-box .barrier-free1 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}
.barrier-free .container .barrier-frees .barrier-free-box .barrier-free1 p {
  font-size: 20px;
  margin-top: 27px;
}
.barrier-free .container .barrier-frees .barrier-free-box .barrier-free2 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.barrier-free .container .barrier-frees .barrier-free-box .barrier-free2 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.barrier-free .container .barrier-frees .barrier-free-box .barrier-free2 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coner-deluxe {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.coner-deluxe .container .coner-deluxes .coner-title h3 {
  text-align: center;
  margin-bottom: 81px;
}
.coner-deluxe .container .coner-deluxes .coner-deluxe-box {
  display: flex;
  justify-content: space-between;
}
.coner-deluxe .container .coner-deluxes .coner-deluxe-box .coner-deluxe1 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.coner-deluxe .container .coner-deluxes .coner-deluxe-box .coner-deluxe1 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.coner-deluxe .container .coner-deluxes .coner-deluxe-box .coner-deluxe1 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coner-deluxe .container .coner-deluxes .coner-deluxe-box .coner-deluxe2 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.coner-deluxe .container .coner-deluxes .coner-deluxe-box .coner-deluxe2 p {
  font-size: 20px;
  margin-top: 27px;
}
.executive-business .container .executive-business {
  margin-bottom: 150px;
}
.executive-business .container .executive-business .executive-title h3 {
  text-align: center;
  margin-bottom: 81px;
}
.executive-business .container .executive-business .executive-box {
  display: flex;
  justify-content: space-between;
}
.executive-business .container .executive-business .executive-box .executive1 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}
.executive-business .container .executive-business .executive-box .executive1 p {
  font-size: 20px;
  margin-top: 27px;
}
.executive-business .container .executive-business .executive-box .executive2 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.executive-business .container .executive-business .executive-box .executive2 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.executive-business .container .executive-business .executive-box .executive2 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.executive-grand {
  height: 100vh;
}
.executive-grand .container .executive-grand .executive-grandtitle h3 {
  text-align: center;
  margin-bottom: 81px;
}
.executive-grand .container .executive-grand .executive-grandbox {
  display: flex;
  justify-content: space-between;
}
.executive-grand .container .executive-grand .executive-grandbox .executive-grand1 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.executive-grand .container .executive-grand .executive-grandbox .executive-grand1 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.executive-grand .container .executive-grand .executive-grandbox .executive-grand1 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.executive-grand .container .executive-grand .executive-grandbox .executive-grand2 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.executive-grand .container .executive-grand .executive-grandbox .executive-grand2 .executive-grande p {
  font-size: 20px;
  margin-top: 27px;
}
.suites .container .suite .suitetitle h3 {
  text-align: center;
  margin-bottom: 81px;
}
.suites .container .suite .suite-box {
  display: flex;
  justify-content: space-between;
}
.suites .container .suite .suite-box .suite1 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}
.suites .container .suite .suite-box .suite1 p {
  font-size: 20px;
  margin-top: 27px;
}
.suites .container .suite .suite-box .suite2 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.suites .container .suite .suite-box .suite2 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.suites .container .suite .suite-box .suite2 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.korea-suites {
  height: 100vh;
  display: flex;
  align-items: center;
}
.korea-suites .container .korea-suite .korea-suitetitle h3 {
  text-align: center;
  margin-bottom: 81px;
}
.korea-suites .container .korea-suite .korea-suitebox {
  display: flex;
  justify-content: space-between;
}
.korea-suites .container .korea-suite .korea-suitebox .korea-suite1 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.korea-suites .container .korea-suite .korea-suitebox .korea-suite1 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.korea-suites .container .korea-suite .korea-suitebox .korea-suite1 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.korea-suites .container .korea-suite .korea-suitebox .korea-suite2 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.korea-suites .container .korea-suite .korea-suitebox .korea-suite2 p {
  font-size: 20px;
  margin-top: 27px;
}
.coner-suite .container .coner-suites .coner-suitetitle h3 {
  text-align: center;
  margin-bottom: 81px;
}
.coner-suite .container .coner-suites .coner-suite-box {
  display: flex;
  justify-content: space-between;
}
.coner-suite .container .coner-suites .coner-suite-box .coner-suite1 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}
.coner-suite .container .coner-suites .coner-suite-box .coner-suite1 p {
  font-size: 20px;
  margin-top: 27px;
}
.coner-suite .container .coner-suites .coner-suite-box .coner-suite2 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.coner-suite .container .coner-suites .coner-suite-box .coner-suite2 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.coner-suite .container .coner-suites .coner-suite-box .coner-suite2 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Premier-suite {
  height: 100vh;
  display: flex;
  align-items: center;
}
.Premier-suite .container .Premier-suit .Premier-suit h3 {
  text-align: center;
  margin-bottom: 81px;
}
.Premier-suite .container .Premier-suit .Premier-suitbox {
  display: flex;
  justify-content: space-between;
}
.Premier-suite .container .Premier-suit .Premier-suitbox .Premier-suit1 .swiper {
  width: 880px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.Premier-suite .container .Premier-suit .Premier-suitbox .Premier-suit1 .swiper .swiper-wrapper .swiper-slide {
  width: 880px;
  height: 600px;
}
.Premier-suite .container .Premier-suit .Premier-suitbox .Premier-suit1 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}
.Premier-suite .container .Premier-suit .Premier-suitbox .Premier-suit2 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.Premier-suite .container .Premier-suit .Premier-suitbox .Premier-suit2 p {
  font-size: 20px;
  margin-top: 27px;
}
.title1image {
 
  
}

.title1image .titleltop h2 {
  color: var(--white);
}
.title1image .titleltop p {
  color: var(--white);
  font-size: 20px;
}
.title1image img {
  width: 100%;
  height: 100%;
}

.layeon .container .layeont {
  text-align: center;
}
.layeon .container .layeont p {
  font-size: 24px;
  margin: 27px 0 81px 0;
}
.layeon .container .layeontime table {
  border-collapse: collapse;
}
.layeon .container .layeontime table .caption {
  width: 100%;
  height: 100%;
  color: var(--black);
}
.layeon .container .layeontime table .caption h4 {
  height: 100px;
  display: flex;
  align-items: center;
}
.layeon .container .layeontime table tbody th, .layeon .container .layeontime table tbody td {
  border: 1px solid;
  height: 89px;
  font-size: 24px;
}

.arestaurant {
  height: 707px;
  display: flex;
  align-items: center;
}
.arestaurant .container .restaurant {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.arestaurant .container .restaurant .restaurant-image {
  width: 880px;
  height: 600px;
}
.arestaurant .container .restaurant .restaurant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arestaurant .container .restaurant .restaurant-explanation {
  margin-bottom: 135px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.arestaurant .container .restaurant .restaurant-explanation p {
  font-size: 24px;
  margin-top: 27px;
}

.arestaurant2 {
  height: 908px;
  display: flex;
  align-items: center;
}
.arestaurant2 .container .restaurant {
  display: flex;
  justify-content: space-between;
}
.arestaurant2 .container .restaurant .restaurant-explanation {
  margin-bottom: 135px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}
.arestaurant2 .container .restaurant .restaurant-explanation span {
  font-size: 24px;
  margin-top: 15px;
}
.arestaurant2 .container .restaurant .restaurant-explanation p {
  font-size: 24px;
  margin-top: 27px;
}
.arestaurant2 .container .restaurant .restaurant-explanation .call-reservation {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}
.arestaurant2 .container .restaurant .restaurant-explanation .call-reservation .reservation {
  width: 160px;
  height: 50px;
  background: var(--black, #222);
  display: flex;
}
.arestaurant2 .container .restaurant .restaurant-explanation .call-reservation .reservation a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.arestaurant2 .container .restaurant .restaurant-explanation .call-reservation .reservation a p {
  font-size: 24px;
  color: var(--white, #fff);
  height: 100%;
}
.arestaurant2 .container .restaurant .restaurant-explanation .call-reservation .inquiry {
  width: 160px;
  height: 50px;
  background: var(--black, #222);
}
.arestaurant2 .container .restaurant .restaurant-explanation .call-reservation .inquiry a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.arestaurant2 .container .restaurant .restaurant-explanation .call-reservation .inquiry a p {
  font-size: 24px;
  color: var(--white, #fff);
  height: 100%;
}
.arestaurant2 .container .restaurant .restaurant-image {
  width: 880px;
  height: 600px;
}
.arestaurant2 .container .restaurant .restaurant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infomenu {
  margin-bottom: 218px;
  display: flex;
  align-items: center;
}
.infomenu .container .menu {
  margin-bottom: 54px;
}
.infomenu .container .myswiper2 .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  width: 1400px;
  height: 620px;
}
.infomenu .container .myswiper2 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infomenu .container .information-email .information2 {
  display: flex;
  justify-content: space-between;
}
.infomenu .container .information-email .information2 h4 {
  margin: 54px 0 27px;
}
.infomenu .container .email .color {
  margin-bottom: 27px;
}
.infomenu .container .email p {
  font-size: 24px;
}

.layeonimage {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.layeonimage img {
  width: 100%;
  height: 100%;
}

.continental .container .continentalt {
  text-align: center;
}
.continental .container .continentalt p {
  font-size: 24px;
  margin: 27px 0 81px 0;
}
.continental .container .continentaltime table {
  border-collapse: collapse;
}
.continental .container .continentaltime table .caption {
  width: 100%;
  height: 100%;
  color: var(--black);
}
.continental .container .continentaltime table .caption h3 {
  height: 100px;
  display: flex;
  align-items: center;
}
.continental .container .continentaltime table tbody th, 
.continental .container .continentaltime table tbody td {
  border: 1px solid;
  height: 89px;
  font-size: 24px;
}

.aliakkeimage {
  height: 100vh;
  margin: 0 auto;
}
.aliakkeimage img {
  width: 100%;
  height: 100%;
}

.aliakke .container .aliakket {
  text-align: center;
}
.aliakke .container .aliakket p {
  font-size: 24px;
  margin: 27px 0 81px 0;
}
.aliakke .container .aliakketime table {
  border-collapse: collapse;
}
.aliakke .container .aliakketime table .caption {
  width: 100%;
  height: 100%;
  color: var(--black);
}
.aliakke .container .aliakketime table .caption h3 {
  height: 100px;
  display: flex;
  align-items: center;
}
.aliakke .container .aliakketime table tbody th, 
.aliakke .container .aliakketime table tbody td {
  border: 1px solid;
  height: 89px;
  font-size: 24px;
}

.palseon .container .palseont {
  text-align: center;
}
.palseon .container .palseont p {
  font-size: 24px;
  margin: 27px 0 81px 0;
}
.palseon .container .palseontime table {
  border-collapse: collapse;
}
.palseon .container .palseontime table .caption {
  width: 100%;
  height: 100%;
  color: var(--black);
}
.palseon .container .palseontime table .caption h3 {
  height: 100px;
  display: flex;
  align-items: center;
}
.palseon .container .palseontime table tbody th, 
.palseon .container .palseontime table tbody td {
  border: 1px solid;
  height: 89px;
  font-size: 24px;
}

.membership4 .container .membership4t {
  text-align: center;
}
.membership4 .container .membership4t p {
  font-size: 24px;
  margin: 27px 0 81px 0;
}
.membership4 .container .point-benefit {
  text-align: center;
}
.membership4 .container .point-benefit .point {
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.membership4 .container .point-benefit .box1pro p {
  font-size: 24px;
}
.membership4 .container .point-benefit .benefit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.membership4 .container .point-benefit .benefit .drink p {
  font-size: 24px;
}

.membershipcard-image .container {
  text-align: center;
}
.membershipcard-image .container .memberscard-title {
  text-align: center;
}
.membershipcard-image .container .memberscard-title p {
  font-size: 24px;
  margin: 54px 0 81px 0;
}
.membershipcard-image .container .membercardi {
  display: flex;
  justify-content: space-between;
}
.membershipcard-image .container .membercardi .card4 .card-explanation > ul li {
  margin: 27px 0;
}
.membershipcard-image .container .membercardi .card4 .card-explanation > ul li span {
  font-size: 18px;
}
.membershipcard-image .container .membercardi .card4 .card-explanation > ul .redcard {
  color: red;
}
.membershipcard-image .container .mpage {
  margin: 81px 0;
  text-align: center;
  display: var(--black);
  width: 100%;
  color: red;
}
.membershipcard-image .container .boxx {
  display: flex;
  justify-content: center;
}
.membershipcard-image .container .boxx .member-info {
  text-align: center;
  margin-bottom: 108px;
  width: 180px;
  height: 40px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.membershipcard-image .container .boxx .member-info h6 {
  color: var(--white);
}



/* 신라호텔 - 서울, 제주 */
.hotel-intro {
  background: url('../images/img_sub_soeul1.jpg') no-repeat center;
  background-size: cover;
}
.hotel-title {
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}
.hotel-seoul-section1 {
  display: flex;
  height: 810px;
}
.seoul-left {
  position: relative;
  width: 47%;
  background: url('../images/img_sub_soeul2.jpg');
}
.seoul-left p {
  position: absolute;
  width: 100%;
  color: #FFF;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  left: 50%;
  top:60px;
  transform: translate(-50%);
  z-index: 10;
}
.seoul-left img {
  position: absolute;
  width: 480px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seoul-right {
  width: 53%;
  padding: 50px;
  box-sizing: border-box;
}
.seoul-right p {
  margin: 30px;
}
.seoul-slide-title {
  text-align: center;
  font-size: calc(var(--font-size) * 1.5);
}
.seoul-right-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.seoul-right-slide ul {
  height:100%;
  margin:0;
  padding: 0;
  display: flex;
}
.seoul-right-slide ul li {
  top: 0%;
  height: 100%;
  width: 100%;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seoul-right-slide ul li img {
  width: 460px;
  height: 560px;
}
.seoul-right-slide p {
  margin: 30px;
}

/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}