@charset "utf-8";

/* 이벤트 프로모션 리스트 */
.event-list {display: flex; justify-content: space-between; flex-wrap: wrap;}
.event-list li {width: calc((100% / 2) - 12px);}
.event-list li:nth-child(n+3) {margin-top: 54px;}
.event-list .block {display: flex; flex-direction: column; gap: 20px;}
.event-list .img-wrap {width: 100%; height: 352px;}
.event-list .info {display: flex; flex-direction: column; gap: 10px;}
.event-list .desc {font-size: 20px;}
.event-list .date {font-size: 20px; color: #666;}

/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}