@charset "utf-8";

.container {position: relative; width: 1400px; margin: 0 auto;}

/* header */
header{position: fixed; top: 0; left: 0; right: 0; z-index: 999;}
.header-wrap {display: flex; justify-content: space-between; align-items: center; padding: 32px 48px;}
.header-wrap .left-hd {display: flex; align-items: center; gap: 16px;}
.header-wrap .all-menu > button {position: relative; width: 36px; height: 36px; padding: 12px 5px;}
.header-wrap .all-menu > button:before,
.header-wrap .all-menu > button:after,
.header-wrap .all-menu > button > span:after {content: ''; position: absolute; top: 10px; left: 5px; width:26px; height: 4px; background-color: #fff;}
.header-wrap .all-menu > button > span:after {top: 17px;}
.header-wrap .all-menu > button:after {top: 24px;}
.header-wrap .logo {height: 36px; margin: 0;}
.header-wrap .logo a {display: inline-block; width: 140px; height: 36px; background:url(../images/logo_sh_w.png) no-repeat center center; background-size: 140px auto;}
.header-wrap .util-list {display: flex; gap: 16px;}
.header-wrap .util-list a,
.header-wrap .util-list .lang-drop button {position:relative; font-size: 20px; color: var(--white, #fff);}
.header-wrap .util-list .lang-drop button:after {content: ''; position: absolute; top: 50%; left: calc(100% + 10px); margin-top: -2px; border-width: 6px 4px; border-style: solid; border-color: var(--white, #fff) transparent transparent transparent;}
.header-wrap .util-list .lang-drop > ul {}
.header-wrap .util-list .lang-drop.on {position: relative;}
.header-wrap .util-list .lang-drop.on button:after {transform: rotate(-180deg); margin-top: -8px}
.header-wrap .util-list .lang-drop.on > ul {position: absolute; width: 80px; top: calc(100% + 8px); left: 0; right: 0; text-align: center; background-color: #fff;}
.header-wrap .util-list .lang-drop.on > ul li {width: 100%;}
.header-wrap .util-list .lang-drop.on > ul a {display:block; padding: 8px; color: #222; font-size: 14px;}
.header-wrap .util-list .lang-drop.on > ul a:hover {background-color: var(--bg-dark-gray, #ccc);}

/* header fixed */
header.sticky {position: fixed; background-color: var(--white, #fff); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);}
header.sticky .header-wrap .logo a {background-image:url(../images/logo_sh_b.png);}
header.sticky .header-wrap .all-menu > button:before,
header.sticky .header-wrap .all-menu > button:after,
header.sticky .header-wrap .all-menu > button > span:after {background-color: var(--black, #222);}
header.sticky .header-wrap .util-list a, 
header.sticky .header-wrap .util-list .lang-drop button {color: var(--black, #222);}
header.sticky .header-wrap .util-list .lang-drop button:after {border-color: var(--black, #222) transparent transparent transparent;}

/* footer */
footer {
  background: var(--black, #222222);
  color:#A1A1A1;
}
footer .footer-wrap {
  padding: 72px 0;
}
footer .footer-wrap > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 87px;
}

footer .footer-wrap > ul > li{
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
  gap: 72px;
}
footer .footer-wrap > ul > li > div {
  display: flex;
  gap: 261px;

}
footer .footer-wrap > ul a img {
  width: 448px;
  height: 216px;
  margin-bottom: 32px;
}
footer .footer-wrap .full {
  width: 100%;
}


.footer-wrap ul h2 {
  width: 160px;
  color: #A1A1A1;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  text-transform: uppercase;
}

.footer-info-list {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 20px 0;
  box-sizing: border-box;
}
.footer-info-list div {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.footer-info-list h2 a {
  display: inline-block;
  width: 304px;
  height: 35px;
  text-indent: -9999em;
  background: url('../images/svg_footer_logo.svg') no-repeat;
}
.footer-info-list ul {
  display: flex;
}
.footer-info-list ul li {
  padding-right: 20px;
}
.footer-info-list ul li:last-child {
  padding-right: 0;
}
.footer-info-list ul li a:hover {
  text-decoration: underline;
}
.footer-info-list div::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #A1A1A1;
  width: 100%;
  top: 0;
  left: -100%;
  padding: 0 100%;
}
.footer-info-list div::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #A1A1A1;
  width: 100%;
  bottom: 0;
  left: -100%;
  padding: 0 100%;
}

.footer-info-list,
.footer-bottom {
  font-size: 14px;
}

.footer-family-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}
.footer-family-list ul {
  display: flex;
  gap: 166px;
}



.footer-family-site select {
  width: 270px;
  height: 40px;
  background: var(--black, #222);
  color: #A1A1A1;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-address ul {
  display: flex;
  justify-content: start;
  line-height: 27px;
}
.footer-address ul li,
address {
  margin-right: 20px;
}
.footer-address address {
  font-style: normal;
}

.footer-sns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
.footer-sns li {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.icon-blog,
.icon-insta,
.icon-youtube {
  display: block;
  width: 30px;
  height: 30px;
}
.icon-blog { background: url('../images/icon_blog.svg') no-repeat; }
.icon-insta { background: url('../images/icon_instagram.svg') no-repeat; }
.icon-youtube { background: url('../images/icon_youtube.svg') no-repeat; }


/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}

