@charset "utf-8";

/* section */
.section {height: 100vh; overflow: hidden;}

/* section home */
.section.home {position: relative; background: url(../images/bg_main_01.png) no-repeat center center; background-size: cover;}
.section.home .main-txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; text-align: center;}
.section.home .main-txt strong {color: var(--white, #fff); font-size: 50px; font-weight: 100;}

/* 객실소개 최원석*/

.room4 .container .tit-area {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.room4 .container .tit-area .tab {
  width: 30%;
}
.room4 .container .tit-area .tab .tab-menu {
  width: 100%;
  padding: 41px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.room4 .container .tit-area .tab .tab-menu li {
  width: 120px;
  line-height: 40px;
  height: 40px;
  text-align: center;
}
.room4 .container .tit-area .tab .tab-menu li a {
  background-color: #fff;
  color: #000;
  display: block;
  height: 100%;
  text-align: center;
}
.room4 .container .tit-area .tab .tab-menu li a.active {
  color: #000;
  background: #fff;
  font-weight: bold;
}
.room4 .container #tabs .tab-content {
  /* display: flex; */
  /* overflow-x: hidden; */
}
.room4 .container #tabs .tab-content #tabs-1, .room4 .container #tabs .tab-content #tabs-2, 
.room4 .container #tabs .tab-content #tabs-3, .room4 .container #tabs .tab-content #tabs-4 {
  width: 100%;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-wrapper, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-wrapper, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-wrapper, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-wrapper {
  display: flex;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-wrapper .swiper-slide, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-wrapper .swiper-slide, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-wrapper .swiper-slide, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-wrapper .swiper-slide .image-box, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-wrapper .swiper-slide .image-box, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-wrapper .swiper-slide .image-box, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-wrapper .swiper-slide .image-box {
  width: 450px;
  height: 592px;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-wrapper .swiper-slide .image-box img, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-wrapper .swiper-slide .image-box img, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-wrapper .swiper-slide .image-box img, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-wrapper .swiper-slide .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-wrapper .swiper-slide .bg, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-wrapper .swiper-slide .bg, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-wrapper .swiper-slide .bg, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-wrapper .swiper-slide .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-wrapper .swiper-slide .bg2, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-wrapper .swiper-slide .bg2, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-wrapper .swiper-slide .bg2, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-wrapper .swiper-slide .bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-pagination, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-pagination, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-pagination, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.room4 .container #tabs .tab-content #tabs-1 .swiper .swiper-pagination .swiper-pagination-bullet, 
.room4 .container #tabs .tab-content #tabs-2 .swiper .swiper-pagination .swiper-pagination-bullet, 
.room4 .container #tabs .tab-content #tabs-3 .swiper .swiper-pagination .swiper-pagination-bullet, 
.room4 .container #tabs .tab-content #tabs-4 .swiper .swiper-pagination .swiper-pagination-bullet {
  background: #000;
}

.event4 .container .tab2 {
  width: 30%;
}
.event4 .container .tab2 .tab-menu2 {
  width: 100%;
  padding: 41px 0;
  display: flex;
  justify-content: space-between;
}
.event4 .container .tab2 .tab-menu2 li {
  width: 120px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  margin-right: 2px;
}
.event4 .container .tab2 .tab-menu2 li a {
  background-color: #fff;
  color: #000;
  display: block;
  height: 100%;
  text-align: center;
}
.event4 .container .tab2 .tab-menu2 li a.active {
  color: #000;
  background: #fff;
  font-weight: bold;
}
.event4 .container #tabs2 .tab-content2 {
  display: flex;
  
}
.event4 .container #tabs2 .tab-content2 #tabs-1, d
.event4 .container #tabs2 .tab-content2 #tabs-2, 
.event4 .container #tabs2 .tab-content2 #tabs-3, 
.event4 .container #tabs2 .tab-content2 #tabs-4 {
  width: 100%;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-wrapper, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-wrapper, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-wrapper, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-wrapper {
  display: flex;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-wrapper .swiper-slide, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-wrapper .swiper-slide, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-wrapper .swiper-slide, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-wrapper .swiper-slide .image-box, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-wrapper .swiper-slide .image-box, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-wrapper .swiper-slide .image-box, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-wrapper .swiper-slide .image-box {
  width: 450px;
  height: 592px;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-wrapper .swiper-slide .image-box img, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-wrapper .swiper-slide .image-box img, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-wrapper .swiper-slide .image-box img, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-wrapper .swiper-slide .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-wrapper .swiper-slide .bg, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-wrapper .swiper-slide .bg, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-wrapper .swiper-slide .bg, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-wrapper .swiper-slide .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-wrapper .swiper-slide .bg2, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-wrapper .swiper-slide .bg2, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-wrapper .swiper-slide .bg2, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-wrapper .swiper-slide .bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-pagination, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-pagination, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-pagination, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-pagination {
  position: absolute;
  bottom: 0px;
  z-index: 10;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .swiper .swiper-pagination .swiper-pagination-bullet, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .swiper .swiper-pagination .swiper-pagination-bullet, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .swiper .swiper-pagination .swiper-pagination-bullet, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .swiper .swiper-pagination .swiper-pagination-bullet {
  background: #000;
}



/* membership */

.membership {
  background: url('../images/bg_main_membership.png') no-repeat;
}





/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}