@charset "utf-8";

/* 객실소개 담장자 최원석*/
/*.container{
  width: 1400px;
  margin: 0 auto;
}
 */
 .section .container .center {
  width: 1400px;
  margin: 0 auto;
}
.section .container .center .tit-area {
  display: flex;
  justify-content: space-between;
}
.section .container .center #tabs ul {
  display: flex;
}
.section .container .center #tabs #tabs-1, .section .container .center #tabs #tabs-2, .section .container .center #tabs #tabs-3, .section .container .center #tabs #tabs-4 {
  position: relative;
}
.section .container .center #tabs #tabs-1 .tab-slide li > img, .section .container .center #tabs #tabs-2 .tab-slide li > img, .section .container .center #tabs #tabs-3 .tab-slide li > img, .section .container .center #tabs #tabs-4 .tab-slide li > img {
  width: 450px;
  height: 592px;
}
.section .container .center #tabs #tabs-1 .tab-slide li .bg, .section .container .center #tabs #tabs-2 .tab-slide li .bg, .section .container .center #tabs #tabs-3 .tab-slide li .bg, .section .container .center #tabs #tabs-4 .tab-slide li .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.section .container .center #tabs #tabs-1 .tab-slide li .bg2, .section .container .center #tabs #tabs-2 .tab-slide li .bg2, .section .container .center #tabs #tabs-3 .tab-slide li .bg2, .section .container .center #tabs #tabs-4 .tab-slide li .bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
}



/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}