@charset "utf-8";

/* section */
.section {height: 100vh;}

/* section home */
.section.home {position: relative; background: url(../images/bg_main_01.png) no-repeat center center; background-size: cover;}
.section.home .main-txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; text-align: center;}
.section.home .main-txt strong {color: var(--white); font-size: 50px; font-weight: 100;}

/* 객실소개 담장자 최원석*/
/*.container{
  width: 1400px;
  margin: 0 auto;
}
 */
 .section .container {
  width: 1400px;
  margin: 0 auto;
  display: none;
 
}
.section .container .tit-area {
  display: flex;
  justify-content: space-between;
}
.section .container #tabs ul {
  display: flex;
}
.section .container #tabs #tabs-1, .section .container #tabs #tabs-2, .section .container #tabs #tabs-3, .section .container #tabs #tabs-4 {
  position: relative;
}
.section .container #tabs #tabs-1 .tab-slide li > img, .section .container #tabs #tabs-2 .tab-slide li > img, .section .container #tabs #tabs-3 .tab-slide li > img, .section .container #tabs #tabs-4 .tab-slide li > img {
  width: 450px;
  height: 592px;
}
.section .container #tabs #tabs-1 .tab-slide li .bg, .section .container #tabs #tabs-2 .tab-slide li .bg, .section .container #tabs #tabs-3 .tab-slide li .bg, .section .container #tabs #tabs-4 .tab-slide li .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.section .container #tabs #tabs-1 .tab-slide li .bg2, .section .container #tabs #tabs-2 .tab-slide li .bg2, .section .container #tabs #tabs-3 .tab-slide li .bg2, .section .container #tabs #tabs-4 .tab-slide li .bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.tab-menu {padding-left:0;}
.tab-menu li {float:left; list-style:none;  background:#ebebeb; margin-right:10px;}
.tab-menu:after{content:'';display:block; clear:both;}
.tab-menu li a{ color:#999; text-transform:uppercase; font-weight:bold;line-height:27px; text-decoration:none; padding:0 20px; display: block;}
#tab-content {min-height: 300px;}
#tab-content > div {display: none;}
.tab-menu li a.active{background: #000;color: #fff;}



/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}