@charset "utf-8";

/* 객실소개 */
.container {
  width: 100%;
  margin: 0 auto;
}
.container .center {
  width: 1400px;
  margin: 0 auto;
}
.container .center .menuflex {
  display: flex;
  justify-content: space-between;
}
.container .center .menuflex .tabMenu {
  width: 40%;
  display: flex;
  padding: 41px 0;
}
.container .center .menuflex .tabMenu li {
  width: 120px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  margin-right: 2px;
}
.container .center .menuflex .tabMenu li a {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  display: block;
  height: 100%;
  text-align: center;
}
.container .center .menuflex .tabMenu li a.active {
  color: #fff;
  background: #0063E5;
}
.container .center .wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 200px;
}
.container .center .wrap .tabcont {
  height: 591px;
  width: 450%;
  display: flex;
  gap: 30px;
  left: 0;
  position: relative;
}
.container .center .wrap .tabcont > li {
  display: none;
  width: 450px;
  height: 591px;
  background: #ccc;
}
.container .center .wrap .tabcont > li .slidebox .smallcenter {
  width: 450px;
  height: 591px;
}
.container .center .wrap .tabcont > li .slidebox .smallcenter img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.container .center .wrap .tabcont > li.active {
  display: flex;
  justify-content: space-between;
}




/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}