@charset "utf-8";

/* section */
.main .section {height: 100vh; overflow: hidden;}

/* section home */
.section.home {position: relative; background: url(../images/bg_main_01.png) no-repeat center center; background-size: cover;}
.section.home .main-txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; text-align: center;}
.section.home .main-txt strong {color: var(--white, #fff); font-size: 50px; font-weight: 100;}

/* main - tit-area */
.tit-area {margin-bottom: calc(var(--line-height)*2); padding-top: 100px;}

/* 객실소개 최원석*/

.room4 .container .tit-area {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.room4 .container .tit-area .tab {
  width: 33%;
}
.room4 .container .tit-area .tab .tab-menu {
  width: 100%;
  padding: 41px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.room4 .container .tit-area .tab .tab-menu li {
  width: 25%;
  line-height: 40px;
  height: 40px;
  text-align: center;
}
.room4 .container .tit-area .tab .tab-menu li a {
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  display: block;
  height: 100%;
  text-align: center;
}
.room4 .container .tit-area .tab .tab-menu li a.active {
  color: #000;
  background: #fff;
  font-weight: bold;
}
.room4 .container #tabs .tab-content #tabs-1, 
.room4 .container #tabs .tab-content #tabs-2, 
.room4 .container #tabs .tab-content #tabs-3, 
.room4 .container #tabs .tab-content #tabs-4 {
  width: 100%;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper {
  padding-bottom: 18px;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .imgwrapper, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .imgwrapper, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .imgwrapper, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .imgwrapper {
  display: flex;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .imgwrapper .imgslide, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .imgwrapper .imgslide, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .imgwrapper .imgslide, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .imgwrapper .imgslide {
  position: relative;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .imgwrapper .imgslide #image-box, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .imgwrapper .imgslide #image-box, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .imgwrapper .imgslide #image-box, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .imgwrapper .imgslide #image-box {
  width: 450px;
  height: 592px;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .imgwrapper .imgslide #image-box img, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .imgwrapper .imgslide #image-box img, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .imgwrapper .imgslide #image-box img, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .imgwrapper .imgslide #image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .imgwrapper .imgslide .bg, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .imgwrapper .imgslide .bg, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .imgwrapper .imgslide .bg, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .imgwrapper .imgslide .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .imgwrapper .imgslide .bg2, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .imgwrapper .imgslide .bg2, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .imgwrapper .imgslide .bg2, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .imgwrapper .imgslide .bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .swiper-pagination, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .swiper-pagination, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .swiper-pagination, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .swiper-pagination {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.room4 .container #tabs .tab-content #tabs-1 .sswiper .swiper-pagination .swiper-pagination-bullet, 
.room4 .container #tabs .tab-content #tabs-2 .sswiper .swiper-pagination .swiper-pagination-bullet, 
.room4 .container #tabs .tab-content #tabs-3 .sswiper .swiper-pagination .swiper-pagination-bullet, 
.room4 .container #tabs .tab-content #tabs-4 .sswiper .swiper-pagination .swiper-pagination-bullet {
  background: #000;
}

.event4 .container .tit-area {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.event4 .container .tit-area .tab2 {
  width: 33%;
}
.event4 .container .tit-area .tab2 .tab-menu2 {
  width: 100%;
  padding: 41px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event4 .container .tit-area .tab2 .tab-menu2 li {
  width: 25%;
  line-height: 40px;
  height: 40px;
  text-align: center;
}
.event4 .container .tit-area .tab2 .tab-menu2 li a {
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  display: block;
  height: 100%;
  text-align: center;
}
.event4 .container .tit-area .tab2 .tab-menu2 li a.active {
  color: #000;
  background: #fff;
  font-weight: bold;
}
.event4 .container #tabs2 .tab-content2 #tabs-1, .event4 .container #tabs2 .tab-content2 #tabs-2, 
.event4 .container #tabs2 .tab-content2 #tabs-3, .event4 .container #tabs2 .tab-content2 #tabs-4 {
  width: 100%;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper {
  padding-bottom: 18px;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .imgwrapper, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .imgwrapper, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .imgwrapper, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .imgwrapper {
  display: flex;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .imgwrapper .imgslide, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .imgwrapper .imgslide, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .imgwrapper .imgslide, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .imgwrapper .imgslide {
  position: relative;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .imgwrapper .imgslide #image-box, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .imgwrapper .imgslide #image-box, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .imgwrapper .imgslide #image-box, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .imgwrapper .imgslide #image-box {
  width: 450px;
  height: 592px;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .imgwrapper .imgslide #image-box img, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .imgwrapper .imgslide #image-box img, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .imgwrapper .imgslide #image-box img,
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .imgwrapper .imgslide #image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .imgwrapper .imgslide .bg, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .imgwrapper .imgslide .bg, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .imgwrapper .imgslide .bg, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .imgwrapper .imgslide .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .imgwrapper .imgslide .bg2, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .imgwrapper .imgslide .bg2, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .imgwrapper .imgslide .bg2, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .imgwrapper .imgslide .bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .swiper-pagination, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .swiper-pagination, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .swiper-pagination, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .swiper-pagination {
  position: absolute;
  bottom: 0px;
  z-index: 10;
}
.event4 .container #tabs2 .tab-content2 #tabs-1 .rswiper .swiper-pagination .swiper-pagination-bullet, 
.event4 .container #tabs2 .tab-content2 #tabs-2 .rswiper .swiper-pagination .swiper-pagination-bullet, 
.event4 .container #tabs2 .tab-content2 #tabs-3 .rswiper .swiper-pagination .swiper-pagination-bullet, 
.event4 .container #tabs2 .tab-content2 #tabs-4 .rswiper .swiper-pagination .swiper-pagination-bullet {
  background: #000;
}




/* membership */

.membership {
  background: url('../images/bg_main_membership.png') no-repeat;
  background-size: contain;
  color:var(--white, #fff);
  text-transform: uppercase;
}

.membership-card {
  overflow: hidden;
  width: 1084px;
  margin: 0 auto;
}

.membership-pager {
  font-size:calc(var(--font-size) * 1.5);
  margin: 0 auto;
  margin-top: var(--line-height);
  margin-bottom: 130px;
  border-bottom: 1px solid #ccc;
  
}
.membership-pager li {
  display: block;
  width: 464px;
  text-align: center;
  padding: 20px;
}
.membership-pager li:focus {
  border-bottom: 6px solid #ccc;
}
.membership-pager li a {
  display: block;
  width: 100%;
}

.membership-wrapper {
  width: 3252px;
  display: flex;
  margin-bottom: 80px;
}
.members {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.members ul {
  display: flex;
  justify-content: center;
  gap: 65px;
}
.members ul li img {
  width: 318px;
  border-radius: 6px;
  box-shadow: 2px 0 3px rgba(0,0,0,.2);
}
.membership-wrapper p {
  width: 480px;
  text-align: center;
  color: var(--black, #222);
  margin: 0 auto;
  line-height: var(--line-height, 27px);
}

.membership-btn {
  display: flex;
  justify-content: center;
  gap:10px;
}
.membership-link {
  position: relative;
  width: 180px;
  height: 52px;
  margin: 0 10px;
  padding: 0 30px;
  color: var(--black, #2222);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .06em;
  line-height: 52px;
  text-align: left;
  border: 1px solid var(--black, #222);
  box-sizing: border-box;
}
.membership-link span::after{
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 25px;
  width: 10px;
  height: 1px;
  background: var(--black, #2222);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.membership-link span::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 25px;
  height: 1px;
  width: 30px;
  margin-top: 4px;
  background: var(--black, #2222);
}

/* 시설소개 */

.facilities-slide {
  position: relative;
  width: 100%;
  margin: 0 auto; 
  overflow: hidden;
}
.facilities-img {
  position: relative;
  width: 30%;
  opacity: .5;
  transform: scale(.84);
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.facilities-img p {
  display: block;
  text-align: center;
}
.facilities-img span {
  display: block;
  font-size: var(--font-size);
  text-align: center;
}
.facilities-txt {
  margin-top: 48px;
}
.facilities-txt span {
  display: block;
  margin: 10px auto;
  width: 400px;
}
.facility .swiper-backface-hidden .swiper-slide {
  transform: scale(.90) translateZ(0);
}
.facility .swiper-slide.swiper-slide-active {  
  transform: scale(1) !important;
  opacity: 1 !important;
}
.intro-btn {
  display: flex;
  position: absolute;
  top: 65%;
  cursor: pointer;
}
.intro-prev,
.intro-next {
  top: 300px;
  left: 50%;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  width: 100px;
  height: 100px;
  display: block;
  z-index: 10;
  text-indent: -9999em;
  margin: 0 auto;
}
.intro-prev {
  margin-left: 369px;
  background: #D4B297;
}
.intro-next {
  margin-left: 462px;
  background: #122223;
}
.intro-prev::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 38.1%;
  width: 20px;
  height: 1px;
  background: var(--white, #fff);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.intro-prev::before {
  content: "";
  position: absolute;
  display: block;
  top: 52.5%;
  left: 38.5%;
  height: 1px;
  width: 50px;
  margin-top: 4px;
  background: var(--white, #fff);
}
.intro-next::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 1.7%;
  width: 20px;
  height: 1px;
  background: var(--white, #fff);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.intro-next::before {
  content: "";
  position: absolute;
  display: block;
  top: 52.5%;
  right: 2%;
  height: 1px;
  width: 50px;
  margin-top: 4px;
  background: var(--white, #fff);
}

.facility .swiper-slide-active {
  display: block;
}

/* 태블릿 사이즈 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  /* 태블릿 크기에서 적용되는 스타일 */
}

/* 모바일 사이즈 미디어 쿼리 */
@media only screen and (max-width: 480px) {
  /* 모바일 크기에서 적용되는 스타일 */
}