*{margin:0; padding:0;}
li{list-style:none;}
// main객실소개 
.room4{
  .container{
    .tit-area{   display: flex; justify-content: space-between; flex-direction: row; align-items: center;
      .tab{ width: 30%;
        .tab-menu {  width: 100%;   padding: 41px 0; display: flex; justify-content: space-between; align-items: center;
          li {width:120px; line-height: 40px;   height:40px; text-align: center; 
          
              a {background-color: #fff; color:#000; 
                  display: block;height:100%;text-align: center;         
              }       
          }
          li a.active{
            color: #000; 
            background: #fff;
            font-weight: bold;
          }   
        } 
      }    
    }
    #tabs{ 
      .tab-content{ 
        #tabs-1,#tabs-2,#tabs-3,#tabs-4{ width: 100%;
          .swiper{  padding-bottom: 18px;
            .swiper-wrapper{ display: flex;
              .swiper-slide{ position: relative; 
                .image-box{ width: 450px;height: 592px; 
                  img{  width: 100%; height: 100%; object-fit:cover
                      }
                }
                .bg{ position: absolute;
                  top: 0;
                  left: 0;}
                .bg2{ position: absolute;
                  bottom: 0;
                  left: 0;}
              }
            }
            .swiper-pagination{ position:absolute; bottom: 0;z-index: 10;
              .swiper-pagination-bullet {  background: #000;
               
            }
            
              
            }
          }  
        } 
      } 
    } 
  } 
}
// main이벤트
.event4{
  .container{
    .tab2{ width: 30%;
      .tab-menu2 {  width: 100%;   padding: 41px 0; display: flex; justify-content: space-between;
        li {width:120px; line-height: 40px;   height:40px; text-align: center; margin-right: 2px;
        
            a {background-color: #fff; color:#000; 
                display: block;height:100%;text-align: center;         
            }       
        }
        li a.active{
          color: #000; 
          background: #fff;
          font-weight: bold;
        }   
      } 
    }
    #tabs2{ 
      .tab-content2{ 
        #tabs-1,#tabs-2,#tabs-3,#tabs-4{ width: 100%;
          .swiper{  padding-bottom: 18px;
            .swiper-wrapper{ display: flex;
              .swiper-slide{ position: relative; 
                .image-box{ width: 450px;height: 592px; 
                  img{  width: 100%; height: 100%; object-fit:cover
                      }
                }
                .bg{ position: absolute;
                  top: 0;
                  left: 0;}
                .bg2{ position: absolute;
                  bottom: 0;
                  left: 0;}
              }
            }
            .swiper-pagination { position: absolute; bottom: -0px; z-index: 10;
              .swiper-pagination-bullet {  background: #000;}
            }
          }  
        } 
      } 
    } 
  } 
}

